/* Container principal */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #29344e;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 999999;
}

/* Logo */
.logo-header {
  position: relative;
  display: flex;
  align-items: center;
}
.logo-pc {
  max-width: 310px;
    height: 68px;
    object-fit: cover;
}

/* Linha curvada */
.curved-line-container-1 {
  position: absolute;
    bottom: -4px;
    left: 110%;
    transform: translateX(-40%);
    width: 110px;
    height: 101%;
    border: 0px;
    transform: rotate(123deg);
}

/* Linha curvada */
.curved-line-container-2 {
  position: absolute;
  bottom: 19px;
  right: 5%;
  transform: translateX(-40%);
  width: 178px;
  height: 110%;
  border: 0px;
  transform: rotate(328deg);
}

.curved-line {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -99999999999;
}

.curved-line-2 {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Links de navegação */
.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  color: #a2c037;
  padding: 5px 10px;
  font-size: 18px;
}
.nav-link:hover {
  border-bottom: 2px solid #a2c037;
}
.active-link {
  border-bottom: 2px solid #a2c037;
}

/* Ícone do menu hambúrguer */
.menu-icon {
  display: none;
  cursor: pointer;
}

/* Redes sociais */
.social-links {
  display: flex;
  gap: 10px;
  align-items: center;
}
.social-icon {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}
.social-icon:hover {
  transform: scale(1.2);
}

.logo-mobile {
  display: none;
}

@media (max-width: 900px){
  .curved-line-container-2,.social-links{
    display: none;
  } 
}


/* Responsividade */
@media (max-width: 700px) {
  .menu-icon {
    display: block;
    padding: 10px 0px 10px 10px;
  }

  .curved-line-container-1{
    bottom: 1px;
    left: 80%;
  } 

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background: rgba(255, 255, 255, 1.0);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .nav.open {
    display: flex;
  }

  .social-links,.curved-line-container-2{
    display: none;
  }
  .logo-pc {
   display: none;
  }
  .logo-mobile {
    display: block;
    width: 75%;
    height: 60px;
  }
}
