/* Container principal */
.header {
    display: flex;
      align-items: center;
      justify-content: center;
      background-color: #29344e;
      position: sticky;
      top: 0;
      z-index: 999999;
      border-bottom: 3px solid #a2c037;
}

.content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #29344e;
    padding: 10px 20px;
    width: 80%;
    z-index: 99999;
}

/* Logo */
.logo-header {
  position: relative;
  display: flex;
  align-items: center;
}
.logo-pc {
  max-width: 310px;
  height: 68px;
  object-fit: cover;
}

/* Linha curvada */
.curved-line-container-1 {
  position: absolute;
  bottom: -4px;
  left: 130%;
  transform: translateX(-40%);
  width: 110px;
  height: 101%;
  border: 0px;
  transform: rotate(123deg);
}

/* Linha curvada */
.curved-line-container-2 {
  position: absolute;
  bottom: 19px;
  right: 22%;
  transform: translateX(-40%);
  width: 178px;
  height: 110%;
  border: 0px;
  transform: rotate(328deg);
}

.curved-line {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -99999999999;
}

.curved-line-2 {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Links de navegação */
.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-link {
  color: #a2c037;
  font-size: 18px;
  padding: 5px 10px;
  text-decoration: none;
  transition: transform 0.1s ease, color 0.1s ease, border-bottom 0.1s ease; /* Animação suave */
  cursor: pointer; /* Adiciona o cursor pointer */
  outline: none; /* Remove o contorno padrão */
}

/* Hover nos links */
.nav-link:hover {
  transform: scale(1.05); /* Aumenta o texto em 10% */
  border-bottom: 2px solid #a2c037; /* Adiciona borda ao passar o mouse */
  outline: none; /* Remove o contorno padrão */
}

.active-link {
  border-bottom: 2px solid #a2c037; /* Borda ativa para o link */
  outline: none; /* Remove o contorno padrão */
}

/* Redes sociais */
.social-links {
  display: flex;
  gap: 10px;
  align-items: center;
}

.social-icon {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.social-icon:hover {
  transform: scale(1.2);
}

.logo-mobile {
  display: none;
}

@media (max-width: 1750px){
  .curved-line-container-2{
    right: 13%;
  } 
  .curved-line-container-1{
    left: 106%;
  }
}

@media (max-width: 1330px){
  .content-header{
    width: 100%;
  }
  .curved-line-container-2{
    right: 8%;
  }
}


@media (max-width: 900px){
  .curved-line-container-2,.social-links{
    display: none;
  } 
}

/* Responsividade */
@media (max-width: 850px) {
  .curved-line-container-1{
    bottom: 1px;
    left: 80%;
  } 

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background: rgba(255, 255, 255, 1.0);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .nav.open {
    display: flex;
  }

  .social-links,.curved-line-container-2{
    display: none;
  }

  .logo-pc {
   display: none;
  }

  .logo-mobile {
    display: block;
    width: 75%;
    height: 60px;
  }
}

/* Responsividade */

@media (max-width: 380px) {
  .curved-line-container-1{
    bottom: 1px;
    left: 72%;
  } 
}

/* Contêiner do ícone do menu */
.menu-icon {
  display: none;
  cursor: pointer;
  z-index: 99;
  outline: none; /* Remove o contorno padrão */
}

.menu-icon-wrapper {
  width: 34px; /* Largura fixa */
  height: 34px; /* Altura fixa */
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o ícone */
}

.menu-icon-wrapper svg {
  width: 100%; /* Faz o SVG ocupar o espaço disponível */
  height: 100%;
  color: #a2c037;
}

/* Responsividade */
@media (max-width: 850px) {
  .menu-icon {
    display: block;
    padding: 8px;
  }
}
