.header {
  display: flex;
  background-color: rgba(247, 243, 207, 0.1); /* Cor com opacidade */
  padding: 10px 20px;
  align-items: center;
  position: sticky;
  top: 0px;
  backdrop-filter: blur(5px); /* Aplica um desfoque no fundo da header */
  z-index: 999999;
}

  
  .nav {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: none;
  }
  
  .nav-link:hover {
    color: #000;
    border-bottom: 2px solid #302F2F;
  }
  
  .active-link {
    color: #000;
    border-bottom: 2px solid #302F2F; /* Adiciona a borda ao link ativo */
  }
  

  .social-links {
    display: flex;
    gap: 10px;
    margin-left: auto;
    align-items: center;
  }
  
  .social-icon {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
  }
  
  .social-icon:hover {
    transform: scale(1.2);
  }

  
  .logo-header {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  
  .logo {
    width: 170px;
    height: 68px;
    object-fit: cover;
  }
  
  