.footer {
  background-color: #29344e;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 14px;
  display: block;
  margin-top: 25px;
  font-family: 'EB Garamond', serif; /* Aplica a fonte EB Garamond */
}

.footer-location {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; /* Aplica a fonte Roboto */
}

.footer p {
  font-size: 14px;
  color: #ccc;
  font-family: 'EB Garamond', serif; /* Aplica a fonte EB Garamond */
}
