.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  font-size: 14px;
  display: block;
}

.footer-location {
  margin: 10px 0;
  font-size: 16px;
}

.footer p {
  margin-top: 20px;
  font-size: 14px;
  color: #ccc;
}
