.page-wrapper {
    width: 90vw;
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 0px; /* Adiciona um espaçamento interno */
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    box-sizing: border-box; /* Inclui padding e border no cálculo de largura */
    margin-bottom: 50px;
    margin-top: 50px;
  }

  /* Responsividade */
@media (max-width: 700px) {
  .page-wrapper{
    width: 100vw;
    margin-bottom: 50px;
    margin-top: 23px;
  }
}
  